<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar showCancelButton="focus" placeholder="Encontrar notícias"
  (ionChange)="updateListNews($event)"></ion-searchbar>

  <ion-card *ngFor="let news of LstNews">
    <img src="{{news.Image}}"  [routerLink]="['/details', news.Id]"/>
    <ion-card-header>
      <ion-card-title>
        {{news.Title}}
      </ion-card-title>
      <ion-card-subtitle>{{news.Likes}} likes | Publicado em: {{news.PublishedAt}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>