<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title>FakeNewsApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentNews">
    <ion-card-header>
      <ion-card-title>
        {{currentNews.title}}
      </ion-card-title>
      <ion-card-subtitle>{{currentNews.publishedAt | timeAgo}}</ion-card-subtitle>
    </ion-card-header>
    <img src="{{currentNews.image}}" />
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-tab-button>
            <ion-icon name="heart" *ngIf="likeId" (click)="handleLike()"  color="primary"></ion-icon>
            <ion-icon name="heart" *ngIf="!likeId" (click)="handleLike()"></ion-icon>
            <ion-label>{{currentNews.likes | likes}} likes</ion-label>
          </ion-tab-button>
          <ion-tab-button *ngIf="starId"  (click)="handleFavorite()">
            <ion-icon name="star" color="primary"></ion-icon>
            <ion-label>Favoritada</ion-label>
          </ion-tab-button>
          <ion-tab-button *ngIf="!starId"  (click)="handleFavorite()">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>Favoritar</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="shareWhatsApp()">
            <ion-icon name="logo-whatsapp"></ion-icon>
            <ion-label>Compartilhar</ion-label>
          </ion-tab-button>
        </ion-row>
      </ion-grid>

      <div class="ion-text-justify">{{currentNews.content}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer *ngIf="currentNews">
  <ion-button color="warning" expand="block" href="{{currentNews.link}}" target="_blank">Ler mais...</ion-button>
</ion-footer>