<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>


  <ion-button (click)="login()" expand="block">Entrar</ion-button>
  <div class="ion-text-center ion-padding-vertical">Não possui uma conta ainda?</div>
  <ion-button expand="block" fill='outline' routerLink="/register" routerDirection="forward">Criar conta</ion-button>
</ion-content>