<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let favorite of lstFavoriteNews">
    <ion-item>

      <ion-avatar slot="start">
        <img src="{{favorite.news.image}}">
      </ion-avatar>
      <ion-label class="ion-text-wrap" [routerLink]="['/details', favorite.news.id]">
        <p>{{favorite.news.title}}</p>
      </ion-label>

      <ion-button fill="clear" color="danger" slot="end" (click)="removeFavorite(favorite.id)">
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>